li.voice-state:not([data-reactid*="265460513545256961"]) { display:none; }
.avatar {
content:url(https://i.nuuls.com/ITDgy.png);
height: auto !important;
width: auto !important;
border-radius: 0% !important;
}

.speaking {
  border-color:rgba(0,0,0,0) !important;
  position:relative;
  animation-name: speak-now;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  filter: brightness(100%) !important;
content:url(https://i.nuuls.com/hxQ_r.gif);
}

@keyframes speak-now {
    0% {bottom: 0px;}
    15% {bottom: 10px;}
    30% {bottom: 0px;}
    }

li.voice-state{ position: static; }
div.user{ position: absolute; left:40%; bottom:5%; }

body { background-color: rgba(0, 0, 0, 0); margin: 0px auto; overflow: hidden; }